<a href="https://colab.research.google.com/github/Sneha-Srivastava/IMS/blob/main/Purchasing_Products/Purchasing_Products.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fd = open('/content/records.json','r')
record = fd.read()
fd.close()

In [ ]:
import json
record = json.loads(record)
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100}}

# Purchasing New Items

In [ ]:
while True:
  prod_id = input("Enter product id : ")
  name = input("Enter name of the product : ")
  price = int(input("Enter price of product : "))
  quantity = int(input("Enter quantity you want to purchase : "))
  record[prod_id] = {'name': name, 'pr': price, 'qn': quantity}
  add_mode = input("Do you want to purchase more items (y/n) : ")
  if add_mode == 'N' or add_mode == 'n':
    break

Enter product id : 1032
Enter name of the product : Jaggery
Enter price of product : 68
Enter quantity you want to purchase : 69
Do you want to purchase more items (y/n) : n

In [ ]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Chocolate', 'pr': 50, 'qn': 100},
 '1004': {'name': 'Chips', 'pr': 10, 'qn': 150},
 '1005': {'name': 'Biscuits', 'pr': 75, 'qn': 80},
 '1006': {'name': 'Pepsi', 'pr': 90, 'qn': 200},
 '1007': {'name': 'Mirinda', 'pr': 75, 'qn': 89},
 '1008': {'name': 'Fanta', 'pr': 80, 'qn': 100},
 '1009': {'name': '7-Up', 'pr': 90, 'qn': 75},
 '1010': {'name': 'Lays', 'pr': 20, 'qn': 300},
 '1011': {'name': 'Bingo', 'pr': 20, 'qn': 200},
 '1012': {'name': 'Bread', 'pr': 26, 'qn': 300},
 '1013': {'name': 'Milk', 'pr': 26, 'qn': 100},
 '1014': {'name': 'Eggs', 'pr': 70, 'qn': 70},
 '1015': {'name': 'Cheese', 'pr': 110, 'qn': 70},
 '1016': {'name': 'Paneer', 'pr': 400, 'qn': 1000},
 '1017': {'name': 'Jam', 'pr': 215, 'qn': 215},
 '1018': {'name': 'Ketchup', 'pr': 180, 'qn': 70},
 '1019': {'name': 'Salt', 'pr': 50, 'qn': 70},
 '1020': {'name': 'Sugar', 'pr': 40, 'qn': 100},
 '1021': {'name': 'Flour', 'pr': 210, 'qn': 78},
 '1022': {'name': 'Wheat', 'pr': 123, 'qn': 232},
 '1023': {'name': 'Rice', 'pr': 78, 'qn': 98},
 '1024': {'name': 'Kellogs Chocos', 'pr': 340, 'qn': 222},
 '1025': {'name': 'Soda', 'pr': 40, 'qn': 65},
 '1026': {'name': 'Butter', 'pr': 218, 'qn': 218},
 '1027': {'name': 'Maggi', 'pr': 65, 'qn': 88},
 '1028': {'name': 'Pasta', 'pr': 56, 'qn': 78},
 '1029': {'name': 'Coffee', 'pr': 10, 'qn': 1000},
 '1030': {'name': 'Tea', 'pr': 89, 'qn': 99},
 '1031': {'name': 'Green tea', 'pr': 2, 'qn': 70},
 '1032': {'name': 'Jaggery', 'pr': 68, 'qn': 69}}

In [ ]:
j = json.dumps(record)
fd = open('/content/updated_records.json','w')
fd.write(j)
fd.close()